/* @import url("app.css"); */

.homePage{
    display: flex;
    flex-direction: row;
}

.leftSide{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    float: left;
    padding: 0px 40px 0px 40px;
}

.leftSide h1{
    font-size: 300%;
}

.leftSide button{
    background-color: rgb(255, 208, 20);
    color: white;
    padding: 20px;
    font-size: 150%;
    font-weight: bold;
    margin-top: 40px;
    border: none;
}

.leftSide button:hover{
    background-color: rgb(252, 193, 1);
}

.leftNavbar{
    display: flex;
    height: 90px;
    align-items: center;
}
.leftNavbar ul{
   text-align: left;
   justify-content: center;
}
.leftNavbar li{
    background-color: white;
    list-style: none;
    display: inline;
    margin: 90px 20px 20px 20px;
    font-weight: bold;
}
.leftNavbar a{
    text-decoration: none;
    color: black;
}
.leftNavbar a:hover{
    color: rgb(255, 208, 20);
}

.rightSide{
    background-color: rgb(255, 208, 20);
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    float: right;
    
}
.rightSide img{
    position: fixed;
    /* display: block; */
    top: 180px;
    /* margin-top: auto;
    margin-bottom: auto; */
    z-index: 0;
    
}
.rightSide nav{
    text-align: end;
    

}

.rightNavbar button {
    margin: 20px;
    padding: 20px;
    font-weight: bold;
    border: none;
    

    
}

.btn1 {
    color: rgb(255, 208, 20);
    background-color: white;
}

.btn1:hover {
    color: rgb(252, 193, 1);;
    background-color: rgba(255, 255, 255, 0.645);
}

.btn2 {
    background-color: rgb(255, 208, 20);
    color: white;
}

.btn2:hover{
    background-color: rgb(252, 193, 1);
}

.promotions{
    margin-top: 120px;
}


.promoCard{
    background-color: rgba(255, 255, 255, 0.782);
    display: block;
    width: 100px;
    height: 180px;
    margin-left: 20px;
    padding-left: 20px;
}

.promoCard h1{
    font-size: 150%;
}
.promoCard h4{
    text-decoration: line-through;
    color: red;
}

.promoCard h3{

    color: green;
}

.promoCard:hover{
    background-color: rgba(255, 255, 255, 0.974);

}


