/* @import url("app.css"); */
.navbar{
    position: absolute;
    display: flex;
    background-color: transparent;
    width: 100%;
    height: 90px;
    

}

.navbar a{
    text-decoration: none;
    color: black;
}
.navbar a:hover{
    color: rgb(255, 208, 20);
}


.navbar ul{
    list-style-type:none;
    display:flex;

    padding-top: 20px ;
 }

 .navbar ul li{

    display: list-item;
    *display: inline;
    *zoom: 1;
    list-style: none;
    margin-right: 40px;
    font-weight: bold;
}
.navbar div {
    display: flex;  
    width: 50%;
    margin-left: auto;
    justify-content:right;
    padding-right: 20px ;
}
.navbar button {
    float: right;
    margin: 20px;
    padding: 20px;
    font-weight: bold;
    border: none;
   
    
}

.btn1 {
    color: rgb(255, 208, 20);
    background-color: white;
}

.btn1:hover {
    color: rgb(252, 193, 1);;
    background-color: rgba(255, 255, 255, 0.645);
}

.btn2 {
    background-color: rgb(255, 208, 20);
    color: white;
}

.btn2:hover{
    background-color: rgb(252, 193, 1);
}


.homePage{
    display: flex;
    flex-direction: row;
}

.leftSide{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    float: left;
    padding: 150px 40px 0px 40px;
}

.leftSide h1{
    font-size: 300%;
}

.leftSide button{
    background-color: rgb(255, 208, 20);
    color: white;
    padding: 20px;
    font-size: 150%;
    font-weight: bold;
    margin-top: 40px;
    border: none;
}

.leftSide button:hover{
    background-color: rgb(252, 193, 1);
}



.rightSide{
    background-color: rgb(255, 208, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    float: right;
    padding: 0px 40px 0px 40px;
    
}
.rightSide img{
    /* position: relative; */
    display: flex;
    height: 185px;
    width: 250px;
    display: block;
    /* background-color: red; */
  
    
}


.promotions{
    margin-top: 20px;
}


.promoCard{
    background-color: rgba(255, 255, 255, 0.782);
    display: block;
    width: 100px;
    height: 180px;
    margin-left: 20px;
    padding-left: 20px;
}

.promoCard h1{
    font-size: 150%;
}
.promoCard h4{
    text-decoration: line-through;
    color: red;
}

.promoCard h3{

    color: green;
}

.promoCard:hover{
    background-color: rgba(255, 255, 255, 0.974);

}


