
.menuItemCard {
    display: flex;
    box-shadow: 1px 1px 20px  black;
    width: 90%;
    height: 90px;
    margin: 10px;
    padding: 10px;
}

.menuItemCard h4{
    margin-left: 10px;
}

.menuItemCard img{
    width: 90px;
    height: 90px;
}