.menu{
    /* padding-top: 100px; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

.allItens {
    margin-top: 100px;
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: calc(100vh - 200px);
    width: 50%;
    display: grid;
    grid-template-columns: 50% 50%;
    flex-direction: column;
    padding-left: 20px;
    
}


.img {
    max-width: 100%;
    height: auto;
}

.menuItemCard {
    box-shadow: 1px 1px 5px  rgb(158, 155, 155);
    max-width: 70%;
    height: 90px;
    margin-right: 10px;
    margin-top: 20px;
    display: flex;
    padding: 10px;
}

.menuItemCard:hover {
    /* background-color: rgb(238, 236, 236); */
    background-color: rgb(255, 208, 20);;
}

.menuItemCard h4{
    margin-left: 10px;
}

.menuItemCard img{
    width: 90px;
    height: 90px;
}

.itemDescription{
    background-color: rgb(255, 208, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    width: 50%;
    height: 100vh;
    padding: 20px;
    
    

}

.itemDescription img {
    
    top: 50%;
    
}
