.menu{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

.menu ul {
    scroll-behavior: smooth;
    overflow-y: scroll;
    max-height: 400px;
    width: 800px;
}

.menu li {
    list-style: none;
}