.menu{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

.allItens {
    scroll-behavior: smooth;
    overflow-y: scroll;
    max-height: 400px;
    width: 400px;
    background-color: rgba(165, 42, 42, 0.398);
}

.menu li {
    list-style: none;
}

.itemDescription{
    max-width: 600px;
    padding: 20px;
    background-color: rgba(0, 0, 255, 0.323);
}